@charset "UTF-8";

* {
  box-sizing: border-box;
}

/*--------------------------------------
 ヘッダー 
--------------------------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
#gnav-toggle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#gnav-toggle span,
#gnav-toggle span::before,
#gnav-toggle span::after {
  content: "";
  height: 2px;
  width: 25px;
  background-color: #333;
}
#gnav-toggle span {
  position: relative;
}
#gnav-toggle span::before {
  position: absolute;
  top: -8px;
}
#gnav-toggle span::after {
  position: absolute;
  top: 8px;
}
.gnav-list {
  width: 100vw;
  height: 100vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateX(100%);
}
.gnav-list li {
  font-size: 18px;
  padding-bottom: 1em; 
}
.gnav-list li a{
  text-decoration: none;
  color: #000;
}
/*--------------------------------------
 メイン
--------------------------------------*/
.inner {
  width: 354px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .inner {
    width: 858px;
  }
}
.intro-inner {
  width: 174.38px;
}





/*--------------------------------------
 フッター 
--------------------------------------*/
