@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.sp {
  display: block;
}
.pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
}

/*--------------------------------------
 ヘッダー 
--------------------------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.gnav-hidden {
  display: none;
}
#gnav-open {
  width: 50px;
  height: 50px;
  position:relative;
  z-index: 200;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


/* #gvav.unshownを作ってlist以外をタップした際にメニューを閉じたい。 */


.icon,
.icon::before,
.icon::after {
  content: "";
  height: 2px;
  width: 25px;
  background-color: #333;
  transition: .3s ease;
}
.icon {
  position: relative;
}
.icon::before {
  position: absolute;
  top: -8px;
}
.icon::after {
  position: absolute;
  top: 8px;
}
#gnav-input:checked ~ .icon {
  background-color: transparent;
}

#gnav-input:checked ~ .icon::before {
  width: 30px;
  transform: rotate(45deg);
}
#gnav-input:checked ~ .icon::after {
  width: 30px;
  transform: rotate(-45deg);
}

.gnav-lists {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: -50px;
  /* これ以外の方法で.gnav-listを一番上へ持ってくる方法はなにかできないか。。。 */
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateX(100%);
  transition: .3s ease;
  z-index: 100;
}
#gnav-input:checked ~ .gnav-lists {
  transform: translateX(0);
}
.gnav-list {
  font-size: 18px;
}
.gnav-item {
  display: inline-block;
  width: 100px;
  border-bottom: 2px solid #000;
  margin-bottom: 1em;
  text-decoration: none;
  color: #000;
}
@media screen and (min-width: 768px) {
  .gnav-lists {
    transform: none;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    padding-right: 1em;
  }
  .gnav-list {
    padding
  }
}
/*--------------------------------------
 メイン
--------------------------------------*/
.inner {
  width: 354px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .inner {
    width: 858px;
  }
}
.intro-inner {
  width: 174.38px;
}





/*--------------------------------------
 フッター 
--------------------------------------*/
