@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #21243D;
}
h2 {
  font-weight: 100;
  font-size: 18px;
  line-height: 60px;
}
h3 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}
p, time, span {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
.sp {
  display: block;
}
.pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
  .pc-width{
    width: 860px;
    max-width: 100%;
    margin:0 auto;
  }
}

/*--------------------------------------
 ヘッダー 
--------------------------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.gnav-hidden {
  display: none;
}
#gnav-open {
  width: 50px;
  height: 50px;
  position:relative;
  z-index: 200;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


/* #gvav.unshownを作ってlist以外をタップした際にメニューを閉じたい。 */


.icon,
.icon::before,
.icon::after {
  content: "";
  height: 2px;
  width: 25px;
  border-radius: 2px;
  background-color: #333;
  transition: .3s ease;
}
.icon {
  position: relative;
}
.icon::before {
  position: absolute;
  top: -8px;
}
.icon::after {
  position: absolute;
  top: 8px;
}
#gnav-input:checked + #gnav-open .icon {
  background-color: transparent;
}

#gnav-input:checked + #gnav-open .icon::before {
  top: 0;
  width: 30px;
  transform: rotate(135deg);
}
#gnav-input:checked + #gnav-open .icon::after {
  top: 0;
  width: 30px;
  transform: rotate(-135deg);
}

.gnav-lists {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: -50px;
  /* これ以外の方法で.gnav-listを一番上へ持ってくる方法はなにかできないか。。。 */
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateX(100%);
  transition: .3s ease;
  z-index: 100;
}
#gnav-input:checked ~ .gnav-lists {
  transform: translateX(0);
}
.gnav-list {
  font-size: 18px;
}
.gnav-item {
  display: inline-block;
  width: 100px;
  border-bottom: 2px solid #000;
  margin-bottom: 1em;
  text-decoration: none;
  color: #000;
}
@media screen and (min-width: 768px) {
  header {
    position: relative;
    height: 70px;
  }
  .gnav-lists {
    transform: none;
    top: 0;
    flex-direction: row;
    justify-content: flex-end;
    height: 70px;
    padding-right: 1em;
  }
  .gnav-list {
    margin-right: 1.5em;
  }
  .gnav-item {
    width: auto;
    padding: .5em;
    border-bottom: none;
    margin-bottom: 0;    
  }
}
/*--------------------------------------
 MAIN
--------------------------------------*/
section {
  text-align: center;
}
/*--------------------------------------
 introduction
--------------------------------------*/

.intro-area {
  margin-top: 50px;
  padding: 0 18px;
}
.intro-img {
  height: 175px;
  margin-bottom: 25px;
}
.intro-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 18px;
}
.intro-content p {
  margin-bottom: 25px;
}
.intro-button {
  color: #fff;
  background-color: #FF6464;
  border: 1px dashed #000;
  border-radius: 2px;
  font-size: 20px;
  padding: 12px 20px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .intro-area {
    padding: 0 10px;
    text-align: left;
  }
  .intro-inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .intro-img {
    height: 255px;
    margin-left: 110px;
    margin-bottom: 0;
  }
  .intro-content {
    text-align: left;
  }
  .intro-content p {
    margin-bottom: 0;
  }
  .intro-button {
    border: none;
  }
}
/*--------------------------------------
 posts
--------------------------------------*/
.posts-area {
  background-color: #EDF7FA;
  padding: 0 10px 40px;
}
.posts-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-item {
  padding: 1em;
  background-color: #fff;
  text-align: left;
}
.post-item:first-child {
  margin-bottom: 18px;
}
.post-item-subtitle {
  margin-bottom: 18px;
}
.post-time {
  padding-right: 20px;
  margin-right: 14px;
  border-right: 1px solid #000;
}
@media screen and (min-width: 768px) {
  .posts-area-head {
    display: flex;
    justify-content: space-between;
  }
  .posts-area-head a {
    color: #00A8CC;
    text-decoration: none;
    font-size: 0.8em;
    position: relative;
    top: 8px;
  }
  .posts-content {
    flex-direction: row;
  }
  .post-item:first-child {
    margin-bottom: 0;
    margin-right: 24px;
  }
}
/*--------------------------------------
 works
--------------------------------------*/
.works-area {
  padding: 0 18px 100px;
}
.works-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
}
.works-item-image {
  margin-bottom: 20px;
  width: 340px;
  max-width: 100%;
}
.works-item-info {
  text-align: left;
}
.works-time {
  display: inline-block;
  padding: 2px 12px;
  margin-right: 14px;
  background-color: #000;
  border: none;
  border-radius: 23px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.works-type {
  color: #8695A4;
}
.works-item-info p {
  margin: 20px auto;
}
@media screen and (min-width: 768px) {
  .works-area {
    padding: 0 10px;
  }
  .works-title {
    font-size: 30px;
    font-weight: 700;
  }
  .works-item {
    display: flex;
    flex-direction: row;
  }
  .works-item-image {
    margin-right: 20px;
  }
  .works-time {
    font-size: 18px;
    font-weight: 900;
  }
  .works-type {
    font-size: 20px;
  }
}
/*--------------------------------------
 FOOTER 
--------------------------------------*/
footer {
  text-align: center;
  padding: 50px 0;
}
.footer-lists {
  list-style: none;
  width: 250px;
  margin: 0 auto 25px;
  display: flex;
  justify-content: space-between;
}
